.contactDiv{
    margin: 30px;
}

.inputBox{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-top: 8px;
}
.name{
    min-width: 50% ;
}

.react-tel-input .form-control{
    width: 100% !important;
}

.btn-primary{
    background-color: orange !important;
    border-color: orange !important;
    border-radius: 50px !important;
}

.bookButton{
    display: flex;
    padding-top: 15px !important;
    justify-content: center;

}